 body {background-color: #F0F8FF; font-size: 130%; font-family:comic sans ms;
}
a:link, a:visited {Background-color: none; color: blue; text-align:center;padding: 5px 8px;border-style:dotted;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav {text-align:center;}
 .nav li {
    display: inline; 
}


	li {color:blue;
		}

			h2{ font-size: 20px;
			}
			h3 {font-size:20px;}
			h4 {font-size:20px}
blockquote {color: blue;}

